{% extends "two_factor/_base.html" %}
{% load i18n %}

{%block content%}
<div class="container">
  <div class="title">
    <h1>{% block title %}{% trans "Disable Two-factor Authentication" %}{% endblock %}</h1>
  </div>
  
  <div class="content">
  <p>{% blocktrans trimmed %}You are about to disable two-factor authentication. This
    weakens your account security, are you sure?{% endblocktrans %}</p>
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <div>
      <button class="btn btn-danger"
            type="submit">{% trans "Disable" %}</button>
    </div>
  </form>
  </div>
</div>
{%endblock%}