{% extends 'main/base.html' %}


{% block content %}

<style>

    body{
        background-color:#534292;
        background-image:linear-gradient(0deg,#654a86,#534292) no-repeat;
    }

    .container{
        color: darkblue;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .notice{
        text-align: center;
    }

    .header{
        text-align: center;
        padding:1.5em;
    }

    .resetpassform{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .formcontainer{
        display: flex;
        flex-direction: column;
    }

    .emailinput {
        width: 100%;
        border:1px solid blue;
        outline: 1px solid #dddddd;
        background: #f2f2f2;
        border-radius: 5px;
        font-size: 14px;
        font-family: 'Comfortaa';
        padding: 0.5em;
        margin: 0.5em;
    }

    form input:focus {
        background: #A4A4A4;
    }

    .resetpassbuttoncontainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .resetbutton {
        font-family: 'Comfortaa';
        text-transform: uppercase;
        background: #4b6cb7;
        border-radius: 5px;
        color: #FFFFFF;
        font-size: 14px;
        cursor: pointer;
        padding: 0.5em;
        margin: 0.5em;
    }

    form button:active {
        background: #395591;
    }

    
</style>


<div class="space">
    <div class="container">

        <div class="header">
            <h1>Reset Password </h1>
            <p>
                {% if message %}
                    {{message}}
                {% else %}

                {% endif %}
            </p>
        </div>
        <div class="formcontainer">
            <p class="notice">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
            <form method="POST" class="resetpassform">
                {% csrf_token %}
                {{password_reset_form}}
                <div class="resetpassbuttoncontainer">
                    <button type="submit" class="resetbutton">Submit</button>
                    <button class="resetbutton"><a href="/" style="color: white; text-decoration: none;">go back</a></button>
                </div>
            </form>    
        </div>
    </div>
</div>

{% endblock %}