{% extends "main/base.html" %}

{% block content %} 
  
<style>

body{
    background-color:#534292;
    background-image:linear-gradient(0deg,#654a86,#534292) no-repeat;
  }
    
    .space{
        color: white;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .header{
        text-align: center;
        padding:1.5em;
    }
    
    .complete{
        padding: 3em;
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        justify-items: center;
    }

    .completebutton {
        font-family: 'Comfortaa';
        text-transform: uppercase;
        background: #4b6cb7;
        border-radius: 5px;
        color: #FFFFFF;
        font-size: 14px;
        cursor: pointer;
        padding: 0.8em;
        margin: 0.8em;
    }
  
</style>



<div class="space">
  <div class="container">
    <div class="header">
      <h2>Password reset complete</h2>
      <hr>
    </div>
    <div class="complete">
      <p>Your password has been set. You may go ahead and log in now.</p>                 
      <a href="/login" class="completebutton">Log in</a>
    </div>
  </div>   
</div>
    
{% endblock %}