{% extends 'main/base.html' %}


{% block content %}

<style>

body{
    background-color:#534292;
    background-image:linear-gradient(0deg,#654a86,#534292) no-repeat;
  }

.container{
	color: white;
	margin: 3em;
}

.space{
        color: white;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }


</style>
	<!--Password reset sent-->
	<div class="space">
		<div class="container">
			<h2 class="">Password reset sent</h2>
		  <hr>
		  <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
		  <a href="/" class="btn btn-primary">Go back</a>
		</div>
	</div>
	
{% endblock %}